body{
    font-family: 'Poppins', sans-serif;
    background-color: #20202a;
    color: #8c8c8e;
    box-sizing: border-box;
}
.container{
    margin-top: 100px;
    text-align: center;
}
span{
    color: #7fe7dc;
}

header h1{
    font-weight: bold;
    color: #fff;
}

header p{
    font-size: 1.3em;
}

h2{
    color: #fff;
}

section{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

section p{
    margin-top: 20px;
    font-weight: bold;
    color: #7fe7dc;
}

button{
    background-color: #7fe7dc;
    color: #20202a;
    padding: 10px 15px;
    border-style: none;
    font-weight: bold;
    margin-left: 18px;
}

button:hover{
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    color: #1e1e28; 
}

.label-container{
    margin-top: 10px;
    margin-bottom: 26px;
}

.circle{
    margin-top: 0;
}

li{
    color: #fff;
    list-style: none;
    margin: 20px 0;
}