body{
    font-family: 'Poppins', sans-serif;
    background-color: #20202a;
    color: #8c8c8e;
    box-sizing: border-box;
}
.container{
    margin-top: 100px;
    text-align: center;
}
span{
    color: #7fe7dc;
}

header h1{
    font-weight: bold;
    color: #fff;
}

header p{
    font-size: 1.3em;
}

h2{
    color: #fff;
}

section{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

section p{
    margin-top: 20px;
    font-weight: bold;
    color: #7fe7dc;
}

button{
    background-color: #7fe7dc;
    color: #20202a;
    padding: 10px 15px;
    border-style: none;
    font-weight: bold;
    margin-left: 18px;
}

button:hover{
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    color: #1e1e28; 
}

.label-container{
    margin-top: 10px;
    margin-bottom: 26px;
}

.circle{
    margin-top: 0;
}

li{
    color: #fff;
    list-style: none;
    margin: 20px 0;
}

.card-containers
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-container
{
    width: 30%;
    margin: 26px;
    border: 1px solid lightgray;
    padding: 36px;
    border-radius: 25px;
    box-shadow: 0px 2px 2px 1px rgba(127, 231, 220, 0.5);
}

a
{
    padding: 5px 30px;
    border: 1px solid #7fe7dc;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    background-color: #7fe7dc;
    
}

a:hover{
    background-color: transparent;
    color: white;
    margin-bottom: 15px;
}


.text-normal{
    color: #8c8c8e;
    font-weight: 300;
}

